[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = http://github.com/tomasr/molokai.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vim-ruby"]
	path = vim/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
